/* Seção 3 */

.section-three-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    background-color: #ffffff;
}

.section-three-container h1 {
    max-width: 1000px;
    margin-top: 100px;
    font-family: 'Inter-Black';
    font-size: 36px;
    color: #292929;
}



.simple-card-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0 10%;
    background-color: #ffffff;
}

.span-green-color {
    color: #26A653;
}


.button {
    display: flex;
    width: 150px;
    height: 40px;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #26A653;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter-Bold';
}