<div class="section-three-container">
    <h1>
        Nossa missão é <span class="span-green-color">empoderar a comunidade educacional</span> através de uma
        gestão escolar inovadora e eficiente.
    </h1>
    <div class="simple-card-container">
        <app-simple-card title="Missão"
            description="Empoderar a comunidade educacional através de uma gestão escolar inovadora e eficiente." />
        <app-simple-card title="Visão"
            description="Através de soluções inovadoras e eficientes, empoderar a comunidade educacional, promovendo o sucesso de alunos, professores e gestores." />
        <app-simple-card title="Valores"
            description="Inovação, Colaboração, Transparência, Responsabilidade Social." />
    </div>
</div>