<header>

    <nav class="header-nav">

        <img src="../../../../../assets/images/logo.svg" alt="logo">
        <div class="header-nav-group">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/Sobre Nós" routerLinkActive="active">Sobre Nós</a>
            <a routerLink="/Cursos" routerLinkActive="active">Cursos</a>
            <a routerLink="/Professores" routerLinkActive="active">Professores</a>
            <a routerLink="/Contato" routerLinkActive="active">Contato</a>
        </div>
        <button class="button" [title]="{title}">Login</button>
    </nav>

    <div class="section-one-container">
        <div class="section-one-content">
            <h1>EduSphere: Transforme a gestão da Escola</h1>
            <p>Uma plataforma inovadora para uma educação de excelência na Escola</p>
            <button class="button">Conheça o Edu</button>
        </div>
        <img class="section-one-content-photo" src="../../../../../assets/images/notebook-section-one.svg" alt="foto de notebook">
    </div>
    
</header>
