<header>

    <nav class="header-nav">

        <img src="../../../../../assets/images/logo.svg" alt="logo">
        <div class="header-nav-group">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/Sobre Nós" routerLinkActive="active">Sobre Nós</a>
            <a routerLink="/Cursos" routerLinkActive="active">Cursos</a>
            <a routerLink="/Professores" routerLinkActive="active">Professores</a>
            <a routerLink="/Contato" routerLinkActive="active">Contato</a>
        </div>
        <button class="button" [title]="{title}">Login</button>
    </nav>

    <div class="section-one-container">
        <div class="section-one-content">
            <h1>EduSphere: Transforme a gestão da Escola</h1>
            <p>Uma plataforma inovadora para uma educação de excelência na Escola</p>
            <button class="button">Conheça o Edu</button>
        </div>
        <img class="section-one-content-photo" src="../../../../../assets/images/notebook-section-one.svg" alt="foto de notebook">
    </div>

    <div class="section-two-container">
        <div  class="section-two-content">
            <h1>Transformando a Gestão Escolar da Escola</h1>
            <p>Comece seu teste grátis do EduSphere</p>
            <button class="button">Conheça o Edu</button>
        </div>
        <img src="../../../../../assets/images/child-section-two.svg" alt="criança testando o sistema">
    </div>

    <div class="section-three-container">
        <h1>
            Nossa missão é <span class="span-green-color">empoderar a comunidade educacional</span> através de uma gestão escolar inovadora e eficiente.
        </h1>

        <div class="simple-card-container">
            <app-simple-card title="Missão"
                description="Empoderar a comunidade educacional através de uma gestão escolar inovadora e eficiente."
            />

            <app-simple-card title="Visão"
                description="Através de soluções inovadoras e eficientes, empoderar a comunidade educacional, promovendo o sucesso de alunos, professores e gestores."
            />
            
            <app-simple-card title="Valores"
                description="Inovação, Colaboração, Transparência, Responsabilidade Social."
            />
        </div>>
    </div>
    
</header>
