@font-face {
    font-family: 'Inter-Medium';
    src: url('../../../../../assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../../../assets/fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Black';
    src: url('../../../../../assets/fonts/Inter-Black.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../../../../../assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../../../../../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../../../../../assets/fonts/Inter-Light.ttf');
}


a {
    cursor: pointer;
}

.header-nav {
    font-family: 'Inter-Medium';
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    gap: 20px;
    color: #ffffff;
    background-color: #292929;
}

.header-nav-group{
    display: flex;
    gap: 120px;

}


.button {
    display: flex;
    width: 150px;
    height: 40px;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #26A653;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter-Bold';
}

/* Seção 1 */
.section-one-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    background-color: #292929;
}

.section-one-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-one-content h1 {
    font-family: 'Inter-Black';
    font-size: 36px;
    color: #FFF;
}

.section-one-content p {
    font-family: 'Inter-Light';
    margin-top: 10px;
    font-size: 20px;
    color: #FFF;
}

.section-one-content-photo {
    
    width: 70%;
    height: auto;
    margin: 20px 0px 100px 0px;
    
}

.section-one-content button {
    margin-top: 60px;
    width: 200px;
}


/* Seção 2 */
.section-two-container {

    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 10%;
    background-color: #FFF;
}

.section-two-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 550px;
}

.section-two-content h1 {
    font-family: 'Inter-Black';
    font-size: 36px;
    color: #292929;
}

.section-two-content p {
    font-family: 'Inter-Light';
    margin-top: 10px;
    font-size: 20px;
    color: #292929;
}

.section-two-content button {
    margin-top: 60px;
    width: 200px;
}

.section-two-content-photo {
    width: 70%;
    height: auto;
    margin: 20px 0px 100px 0px;
}

/* Seção 3 */

.section-three-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    background-color: #ffffff;
}

.section-three-container h1 {
    max-width: 1000px;
    margin-top: 100px;
    font-family: 'Inter-Black';
    font-size: 36px;
    color: #292929;
}

.span-green-color {
    color: #26A653;
}

.simple-card-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0 10%;
    background-color: #ffffff;
}

/* Seção 4 */

.section-four-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10%;
    background-color: #3F3D56;
}

.section-four-container h1 {
    max-width: 1000px;
    margin-top: 100px;
    font-family: 'Inter-Black';
    font-size: 36px;
    color: #FFF;
    text-align: center;
}

/* <div class="section-four-container">
        <h1><span class="span-green-color">Descubra um universo de possibilidades de aprendizagem</span> com o EduSphere!</h1>
        <div class="course-card-container">
            <app-course-card type="Educação Infantil" title="Educação Infantil" />
            <app-course-card type="Ensino Fundamental" title="Ensino Fundamental"/>
            <app-course-card type="Ensino Médio" title="Ensino Médio" />
            <app-course-card type="Educação de Jovens e Adultos" title="Educação de Jovens e Adultos"/>
            <app-course-card type="Educação Especial" title="Educação Especial" />
            <app-course-card type="Educação Profissional" title="Educação Profissional" />
        </div>
    </div> 
    
    vamos colocar esses e duas rows de 3 cards cada, com o mesmo estilo do card que já temos
    
    */

.course-card-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0 10%;
}

.course-card-container-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 0 10%;
}