<header>

    <nav class="header-nav">

        <img src="../../../../../assets/images/logo.svg" alt="logo">
        <div class="header-nav-group">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/Sobre Nós" routerLinkActive="active">Sobre Nós</a>
            <a routerLink="/Cursos" routerLinkActive="active">Cursos</a>
            <a routerLink="/Professores" routerLinkActive="active">Professores</a>
            <a routerLink="/Contato" routerLinkActive="active">Contato</a>
        </div>
        <button class="button" onclick="goToLogin()" routerLink="/login">Login</button>
    </nav>
</header>